/* Refers to the highest level ("Block" in BEM) page element .NavBar { } */
/* Refers to something less important inside of NavBar ("Element" in BEM) .NavBar-navLink { } */
/* Refers to a varient of NavBar ("Modifier" in BEM) .NavBar--sticky { } */

:root {
    --color-blue: #00a7c5;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-off-white: #cdcdcd;
/* --bg-color: #feaafe; */
/* --page-spacing: 50px; */
}


body {
    margin: 0;
    /* background: url('../img/hw1alt_mockup_reference_50%.png') no-repeat top center fixed;
    background-size: cover; */
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.Container {
    display: grid;
    grid-template-columns: 1fr 588px 1fr;
    grid-template-rows: 45px 162px 60px auto;
    grid-template-areas: 
    "navbar navbar navbar"
    "banner banner banner"
    "statbar statbar statbar"
    ". feed .";
}

/* - - - - - - - - - - - -  NAVIGATION BAR  - - - - - - - - - - - - */
.NavBar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 78px 15px 54px;
}

.Home-button {
   font-size: 12px;
   font-weight: bold;
   text-decoration: none;
   color: var(--color-blue);
}
.LogIn-button {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-blue);
}


/* - - - - - - - - - - - -  BANNER  - - - - - - - - - - - - */
.Banner-main {
    grid-area: banner;
    width: 100vw;
    min-height: 160px;
    background-color: var(--color-blue);
}
.Profile-block {
    grid-area: banner;
    margin: 40px auto 0 56px;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
#Profile-photo {
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid var(--color-white);
}
#Profile-name {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
    color: var(--color-black);
    padding: 6px 0 0 5px;
}
#Profile-name:hover {
    color: var(--color-blue);
}
#Profile-handle {
    font-size: 14px;
    padding: 4px 0 0 5px;
}
#Profile-description {
    font-size: 13.5px;
    padding: 16px 0 0 5px;
}


/* - - - - - - - - - - - -  USER STATS BAR  - - - - - - - - - - - - */
.User--statusBar {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.User-stats {
    position: relative;
    display: flex;
}

.User-stats-border {
    grid-area: statbar;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--color-off-white);
}

.User-stat {
    text-align: center;
    padding: 0px 16px;
}
.User-stat:hover {
    color: var(--color-blue);
    border-bottom: 2px solid var(--color-blue);
}
.stat-title {
    padding-top: 12px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.stat-stat {
    padding-top: 2px;
    display: block;
    font-size: 17px;
    font-weight: bold;
}


.FollowButton {
    display: block;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    padding: 8px 28px;
    text-align: center;
    margin: 12px 44px 12px auto;
    text-decoration: none;
}


/* - - - - - - - - - - - -  USER FEED  - - - - - - - - - - - - */
#Feed {
    grid-area: feed;
}
.Feed--header {
    display: flex;
    min-height: 30px;
    margin-top: 11px;
    box-shadow: 0px 1px 3px var(--color-off-white);
}

.Feed--header-link {
    text-align: center;
    padding: 14px 17px 10px 17px;
    font-size: 17.5px;
    font-weight: bold;
}
.Feed--header-link:hover {
    color: var(--color-blue);
}
.Feed--block {
    grid-area: feed;
    box-shadow: 0px 2px 3px var(--color-off-white);
}
.Feed--post {
    display: flex;
    flex-flow: row wrap;
    padding: 9px 30px 10px 10px;
    border-bottom: 1px solid var(--color-off-white);
}

/* - - - - - - - - - - - -  USER POST  - - - - - - - - - - - - */
.Post--container {
    display: flex;
}
.retweet {
    font-size: 12px;
    display: block;
    height: 20px;
    width: 588px;
    margin-left: 60px;
}
.Post--avatar {
    height: 47px;
    border-radius: 50%;
    border: 3px solid var(--color-white);
}
.Post--body {
    margin-left: 7px;
}
.Post--header {
    font-size: 14px;
}
.User--name {
    font-size: 14px;
    font-weight: bold;
    line-height: unset;
}
.Post--content {
    padding-top: 4px;
    font-size: 14px;
    line-height: 140%;
}
.Post--footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 16px;
}
.Post--footer>div {
    text-align: center;
    width: 70px;
    margin-right: 14px;
}

@media screen and (max-width: 1170px) {
    .Container {
        display: grid;
        grid-template-columns: 1fr 588px 1fr;
        grid-template-rows: 45px auto 60px auto;
    }
    .Banner-main {
        justify-content: center;
    }

    .Profile-block {
        grid-area: banner;
        display: flex;
        position: relative;
        margin: -4px auto;
        z-index: 10;
    }
    #Profile-photo {
        max-height: 160px;
    }
    #Profile--textWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    #Profile-name:hover {
        color: var(--color-white);
    }
}


/* - - - - - - - - -   MEDIA QUERIES   - - - - - - - - - - */
@media screen and (max-width: 600px) {
    .Container {
        display: block;
    }
    .Banner-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Profile-block {
        /* position: absolute; */
        margin: -14px 0 10px 0;
        flex-flow: column nowrap;
        /* align-content: center; */
    }    
    #Profile-photo {
        height: 140px;
        width: 140px;
        margin: 0 auto;
    }
    #Profile-description {
        padding-top: 6px;
    }

    .User-stats-border {
        display: none;
    }
    .User-stats {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid var(--color-off-white);
    }
    .User-stat {
        padding: 0px 10px;
    }

    .Feed--header {
        margin-top: 0;
    }

    .Feed--post {
        padding: 9px auto;
    }
    .Post--content {
        max-width: fit-content;
    }
    .FollowButton {
        padding: 8px 22px;
        margin: 12px 10px 12px 0;
    }

    .Post--body {
        margin-left: 20px;
    }
    .retweet {
        margin-left: 72px;
    }
}

@media screen and (max-width: 450px) {
    .Post--header {
        display: flex;
        flex-flow: column nowrap;
    }

}
